* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  left: 12.5%;

  width: 75%;
  padding: 50px;

  background: #D6E9FE;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  justify-content: space-between;

  font-family: "Monospace";
}

.logo {
  font-size: 1.25vw;
}

.header-links {
  display: flex;
  justify-content: space-around;
  font-size: 1vw;
}

.header-links-item {
  padding-right: 20px;
  color: #336D2B;
}

.fulfiller {
  height: 200px;
  background-color: green;
}